<div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <%= link_to recipe_path(recipe.id) do %>
          <div class="recipe-card card mb-4">
            <%= image_tag recipe.photo.url(width: 250, height: 250), class: 'card-img-top' %>
            <div class="card-body">
              <p class="card-text"><%= recipe.title %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
