<div class="container">
  <div class="row mb-4">
    <div class="col recipe-detail-img-container">
      <%= image_tag @recipe.photo.url %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1><%= @recipe.title %></h1>
      <div>
        <% @recipe.tags&.each do |tag| %>
          <span class="badge badge-info"><%= tag.name %></span>
        <% end %>
      </div>
      <p class="mt-3">
        <%= @recipe.description %>
      </p>
      <% if @recipe.chef %>
        <p>Shared with you by: <%= @recipe.chef.name %></p>
      <% end %>
    </div>
  </div>
</div>
