<!DOCTYPE html>
<html>
  <head>
    <title>MsChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, user-scalable=no">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light border-bottom mb-5">
      <a class="navbar-brand" href="/">Marley Spoon Challenge</a>
    </nav>

    <%= yield %>
  </body>
</html>
